* {
    background-color: #393E41;
    font-family: Tahoma, Verdana, Geneva,sans-serif;
    font-size: 18px;
    color: #6D98BA;
    margin: 0px auto;
}

body {
    padding: 1%;
}

#title {
    font-size: 28px;
    text-align: center;
    text-decoration-line: underline;
    margin: 15px auto;
}

.intro {
    padding: 1%;
}